.DS_Store
README 2.md
.env
.env.*
!.env.example

node_modules/
.pnpm-store/
.next/
dist/
build/
coverage/
playwright-report/
test-results/
.turbo/
packages/database/src/generated/

apps/web/playwright-report/
apps/web/test-results/

*.log
pnpm-debug.log*
*.tsbuildinfo
